body {
    background-color: #1c1e22;
    color: #c7cacc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #2a2d34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: auto;
    max-width: 600px;
    margin: 20px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px;
    }
}

h1, h2, h3 {
    color: #ffffff;
}

button {
    background-color: #4c5c68; 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #627d8c;
}

.submit-button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

.reset-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #c82333;
}

a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ffecb3;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="month"],
textarea {
    font-family: 'Arial', sans-serif;
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #3d4451;
    background-color: #2a2d34;
    color: #c7cacc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="number"] {
    font-family: 'Arial', sans-serif;
    width: 80px; /* Full width minus padding */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #3d4451;
    background-color: #2a2d34;
    color: #c7cacc;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #2a2d34;
    border-radius: 10px;
    padding: 10px;
    width: auto; /* Match text width */
    max-width: 600px; /* Match container max width */
    margin: 20px auto;
    box-sizing: border-box;
}


/* Utility classes */
.text-center {
    text-align: center;
}

.rounded {
    border-radius: 50%;
}


/*The following codes are for the game.html (game)*/
#gamePage{
    display: flex;
}

#keyCard{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardImg{
    width: 80%;
}

.instruction{
    width: 80%;
    font-size: 10pt;
    text-align: left;
}

.instruction p{
    font-size: 10pt;
}

.cardContainer{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smSpace{
    margin-bottom: 20px;
}

.game{
    max-width: 1024px;
}

.hidden {
    display: none;
}
